*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}
body{
    background-color: rgb(24, 22, 22);
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}
@media print {
    body{
        display: none;
        visibility: hidden;
    }
}
nav{
    margin: auto;
}
nav li:first-child{
    margin-left: 30px;
}
nav h2{
    margin-left: 15px; 
    color: gold;
    font-family: 'Roboto Slab', serif;
}
.subject{
    /* margin-top: 56px; */
    text-align: center;
    box-shadow: 0.1px 8px 18px gold;
    color: rgb(161, 255, 20);
}
#shn{
    box-shadow: none;
}
.subject h3{
    padding: 10px;
    font-family: 'Roboto Slab', serif;
}
li::first-letter{
    text-transform: uppercase;
}
p::first-letter{
    text-transform: uppercase;
}
blockquote::first-letter{
    text-transform: uppercase;
}
h4::first-letter{
    text-transform: uppercase;
}
blockquote p{
    color: rgba(0, 247, 255, 0.808);
    font-weight: bold;
    font-size: 17px;
    font-family: 'Josefin Sans', sans-serif;
}
blockquote P b{
    color: rgb(248, 179, 3);
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
}
blockquote span{
    color: pink;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
}
strong{
    color: rgb(255, 26, 26);
    margin-left: 10px;
    font-weight: normal;
}
/* start menu */
.heading{
    margin-top: 30px;
}
.heading h4{
    width: 200px;
    border: 1px solid black;
    padding: 5px;
    margin: auto;
    text-align: center;
    background-color: green;
    border-radius: 10px;
    font-family: 'Josefin Sans', sans-serif;
}
.heading b{
    padding: 0px 10px 0px 10px;
    color: rgb(248, 179, 3);
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
}
.heading blockquote{
    padding: 0px 20px 0px 20px;
}
code{
    color: rgb(201, 166, 235);
    font-size: 15px;
}
.sub-heading{
    margin-top: 30px;
}
.sub-heading h4{
    width: 200px;
    border: 1px solid black;
    padding: 5px;
    margin: auto;
    text-align: center;
    background-color: rgb(51, 51, 51);
    border-radius: 10px;
    font-family: 'Josefin Sans', sans-serif;
}
.sub-heading b{
    padding: 0px 10px 0px 10px;
    color: rgb(248, 179, 3);
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
}
.sub-heading blockquote{
    padding: 0px 20px 0px 20px;
}
li p{
    color: rgba(0, 247, 255, 0.808);
    font-weight: bold;
    font-size: 17px;
    font-family: 'Josefin Sans', sans-serif;
}
#join{
    margin-left: 15px;
}
#oj > li{
    color: rgba(173, 252, 255, 0.808);
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
}
#fn{
    color: rgba(173, 252, 255, 0.808);
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
}
#tp li{
    color: rgb(217, 255, 0);
    font-family: 'Josefin Sans', sans-serif;
}
#head h4{
    background-color: green;
}
#head b{
    color: rgb(248, 179, 3);
    font-size: 18px;
}
#head span{
    color: pink;
    font-weight: bold;
}
.hori{
    height: 300px;
    width: 100%;
    overflow: auto;
    scrollbar-width: 1px;
}
table{
    background-color: rgb(31, 29, 29);
}
table, td, th{
    border: 1px solid white;
}
td,th{
    padding: 7px;
}
th{
    color: rgb(59, 209, 0);
}
tr > td:first-child{
    color: pink;
    font-weight: bold;
}
.demotable{
    height: 160px;
    width: 100%;
    overflow: auto;
    scrollbar-width: 1px;
}
.demotable th{
    color: rgb(202, 248, 36);
    padding: 2px 4px;
    font-size: 15px;
}
#norm tr > td:first-child{
    color: white;
    font-weight: normal;
}
#cent{
    text-align: center;
}
#norm li{
    list-style: none;
}
.refer{
    color: rgb(11, 211, 11);
    font-size: 18px;
}
.refer a{
    color: orange;
}
#bolder{
    font-weight: normal;
}
.footer .subject{
    box-shadow: none;
}
.heading img{
    display: block;
    margin: 25px auto;
}
.jdk{
    height: 60%;
    width: 70%;
}
.codein-1{
    height: 100px;
    width: 100%;
    overflow: auto;
    scrollbar-width: 1px;
    background-color: black;
    padding: 15px;
    white-space: nowrap;
}
.codein-1 code{
    color: rgb(204, 162, 204);
}
.lower li::first-letter{
    text-transform: lowercase;
}
.codein-1 code::selection {
    color: white;
    background: green;
}
.codein-1 br::selection {
    color: white;
    background: green;
}
.codein-2{
    height: 300px;
    width: 100%;
    overflow: auto;
    scrollbar-width: 1px;
    background-color: black;
    padding: 15px;
    white-space: nowrap;
}
.codein-2 code{
    color: rgb(204, 162, 204);
}
.codein-2 code::selection {
    color: white;
    background: green;
}
.codein-2 br::selection {
    color: white;
    background: green;
}
#defines{
    white-space: nowrap;
    text-align: center;
}